

.admin-home-container {
    max-width: 500px;
    /* margin: 0 auto; */
    padding: 20px;
    background: hotpink;
    margin:auto
    
  }
  
  .admin-home-content {
    padding: 20px;
    text-align: center;
    background: #000;
    margin: 10%;
  }
  
  .admin-home-title {
    color: #333;
  }
  

  