
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.body-container
{
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(#4ba9e9 0,#4ba9e9 50%,#fff 50%,#fff 100%);
	min-height: 100vh;
}
.detail-card 
{
	position: relative;
	width: 300px;
	height: 380px;
	background: #0000;
	display: flex;
	box-shadow: 0 15px 45px rgba(0,0,0,0.1);
	overflow: hidden;
	transition: 0.5s ease-in-out;
}
.detail-card:hover 
{
	width: 600px;
}
.detail-card 
.detail-imgBx
{
	position: relative;
	min-width: 300px;
	height: 100%;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
}
.detail-card 
.detail-imgBx
.detail-img
{
	max-width: 250px;
	transition: 0.5s ease-in-out;
}
.detail-card:hover 
.detail-imgBx
.detail-img
{
	transform: rotate(-35deg) translateX(-20px);
}
.detail-card 
.detail-details
{
	position: absolute;
	left: 0;
	width: 300px;
	height: 100%;
	background: #4ba9e9;
	display: flex;
	justify-content: center;
	padding: 20px;
	flex-direction: column;
	transition: 0.5s ease-in-out;
}
.detail-card:hover 
.detail-details
{
	left: 300px;
}
.detail-card 
.detail-details::before 
{
	content: '';
	position: absolute;
	left: 0px;
	width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #fff;
	z-index: 1;
}
.detail-card 
.detail-details
.detail-h3
{
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.5em;
	line-height: 1em;
}
.detail-card 
.detail-details 
.detail-h3
.detail-span
{
	font-size: 0.65em;
	font-weight: 300;
	opacity: 0.85;
	text-transform: none;
}
.detail-card 
.detail-details
.detail-h4
{
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.9em;
	line-height: 1em;
	margin-top: 20px;
	margin-bottom: 10px;
}
p 
{
	color: #fff;
	font-size: 0.8em;
	opacity: 0.85;
}
.detail-size
{
	display: flex;
	gap: 10px;
}
.detail-size
.detail-li
{
	list-style: none;
	color: #fff;
	font-size: 0.9em;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #fff;
	cursor: pointer;
	font-weight: 500;
	opacity: 0.5;
}
.detail-size
.detail-li:hover 
{
	background: #fff;
	color: #4ba9e9;
	opacity: 1;
}
.detail-group
{
	position: relative;
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	align-items: center;
}
.detail-card 
.detail-details
.detail-h2
{
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 2em;
}
.detail-card  
.detail-details
.detail-h2
.detail-sup
{
	font-weight: 300;
}
.detail-card 
.detail-details
.detail-h2
.detail-small
{
	font-size: 0.75em;
}
.detail-card 
.detail-details
.detail-a
{
	display: inline-flex;
	padding: 10px 25px;
	background: #fff;
	font-weight: 500;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	color: #4ba9e9;
}