.int-home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:black;
  }
  
  .int-home-section {
    background-color: #4b4848;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
  }
  
  .int-home-title {
    text-align: center;
    color: #eba549;
  }
  
  .int-con-sec {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .user-product-card {
    background-color: #000000;
    padding: 15px;
    margin: 15px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
  }
  
  .user-product-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .user-product-name {
    margin: 10px 0;
    font-size: 16px;
  }
  
  .user-product-brand {
    color: #777;
    font-size: 14px;
  }
  
  .user-product-price {
    color: #e44d26;
    margin-top: 5px;
    font-size: 16px;
  }
  
  .user-home-buttons {
    margin-top: 10px;
  }
  
  .user-home-button {
    background-color: #4caf50;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .no-mans-land {
    text-align: center;
  }
  
  .no-mans-land img {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
  }
  