*{
    margin: 0;
 
}
.navbar-image{
    height:30px;
    width:30px;
    margin: 13px 8px;
}
.navbar-brand{
  display: inline-flex;
    
}

.navbar-head{
   letter-spacing: 3px;
   color: orangered;
}
.navbar-element{
list-style-type: none;


}
.navbar-elements{
  display: flex;
    justify-content: end;
    gap: 25px;
    color: white;
    letter-spacing: 3px;
    margin-right:10px ;
flex-grow: 1;
    
}

.navbar-container{
   width: 100%;
   background-color: black;
 height: 60px;
line-height: 60px;
display: flex;
  
}

.navbar-link{
  text-decoration: none;
  color: white;
  background-color:orange;
  color: black;
  border-radius: 10px;
}