.report-body{
    
    background-image: url('https://www.investopedia.com/thmb/_9bftPsvE4Tu_-XnEIL2iAbh_TA=/6000x4000/filters:no_upscale():max_bytes(150000):strip_icc()/close-up-focus-on-call-center-headset-device--headset-voip-system-with-telephone-answer-machine-technology-at-operation-office-desk-for-hotline-telemarketing-and-network-operator-concept-1016109338-77f05aface5e4aa6b4e387e17de9d412.jpg');
    
   
   
}
.report-form{
    height:600px;
    width:400px;
    background-color: rgb(0,0,0,0.5);
    
    

}
.report-input{
    height: 150px ;
    margin: 150px 17px 17px 17px;
    width:90%;
    border-radius: 15px;
}
.report-Button{
    margin:  0px 165px;
    height: 35px;
    width: 76px;
    background-color: rgb(236, 190, 103);
    border-radius: 10px;
    border-color: solid  black;

}