
.search-container {
  min-width: 100%;
  margin: 0 auto;
  padding: 120px;
  background: #000;
  min-height: 100vh;
}

.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input-section {
  display: flex;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  border: 3px solid #fff4f4;
  border-radius: 5px;
}

.search-input::placeholder{
  color: grey;
}

.search-logo {
  background-color: orangered;
  color: #000000;
  border: 3px solid #fff2f2;
  border-radius: 5px;
  cursor: pointer;
  width:35px;
  margin-left: 5px;
}

.se-product-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: center;
  
}

.se-product-card {
  width: 250px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  background: black;
  transition: transform 0.2s ease-in-out;
  height: 300px;
  margin-right: 30px;
}

.se-product-card:hover {
  transform: scale(1.05);
}


.se-sold-tag {
  background-color: #f00;
  color: #fff;
  padding: 5px;
  position: absolute;
  margin-left: 4px;
  margin-top: 4px;
  border-radius: 5px;
  top: 0;
  left: 0;
  z-index: 10;
}

.se-product-container {
  position: relative;
  text-decoration: none;
  
}

.se-product-images {
  width: 100%;
  height: 100%;
  padding-top: 3px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 10px;
}

.se-home-like-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.se-product-like {
  width: 30px;
  height: 30px;
}

.se-product-details {
  padding: 10px 50px;
  text-decoration: none; 
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.se-product-name,
.se-home-product-brand,
.se-home-product-km,
.se-home-product-price {
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin-top: 9px;
   
}

.se-product-link {
  text-decoration: none;
  color: #333;
}

.no-match-image {
  width: 100px;
  height: auto;
}

.se-no {
  text-align: center;
  margin-top: 20px;
}

.se-user-link{
  text-decoration: none;
}

.se-product-name
{
  color:orangered ;
  text-align: center;
}


.se-home-product-km
{
  color:white;
}

.se-home-product-price{
  color: yellow;
}