/* UprofileEdit.css */

.user-edit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    background-color: #000000;
    padding-top: 200px; 
    width: 100%;
    height: 100vh;
  }
  
  .user-head {
    color: #28a7a1;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 3px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  

  .user-edit-section{
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 20px;
    width: 80%;
    margin-bottom: 20px;
  }
  
  .user-edit-title {
    color: #495057;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .user-edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .user-edit-input,
  .new-pass-input,
  .user-in {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #4b94dd;
    border-radius: 5px;
    width: 80%;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .user-edit-button,
  .user-edit-update,
  .previous-password-button,
  .new-pass-button {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .user-edit-button:hover,
  .user-edit-update:hover,
  .previous-password-button:hover,
  .new-pass-button:hover {
    background-color: #218838;
  }
  
  .new-pass-button {
    background-color: #e44d26;
  }
  
  .password-confirm-sections {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

 .user-edit-section-2{
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    width: 20%;
    margin-bottom: 20px;
    padding:20px 430px;
 }

 .pre-pass-section{
    margin-top: 10px;
 }
  
 .previous-password-button{
    margin-left: 20px;
 }

 .user-in::placeholder{
    color: gray;
 }

 .new-pass-input::placeholder{
    color: gray;
 }