*{
    margin: 0;
 
}
.navbar-image{
    height:30px;
    width:30px;
    margin: 13px 8px;
}
.navbar-brand{
  display: inline-flex;
    
}

.navbar-head{
  letter-spacing: 0px;
  font-family: monospace;
   color: orangered;
}
.navbar-element{
list-style-type: none;


}
.navbar-elements{
  display: flex;
    justify-content: flex-end;
    gap: 75px;
    color: white;
    letter-spacing: 3px;
    margin-right:10px ;
    flex-grow: 1;
    cursor: pointer;
    
}

.navbar-container{
   width: 100%;
   background-color: black;
   height: 60px;
   line-height: 60px;
   display: flex;
   position: fixed;
   width: 100%;
   z-index: 10;
  
}

.navbar-link{
  text-decoration: none;
  color: white;
  background-color:orange;
  color: black;
  border-radius: 10px;
}

.lo-nav{
  height: 25px;
  width:30px;
  margin-top: 21px;
  color: yellow;
}

.lo-navu{
  height: 30px;
  width:30px;
  margin-top: 15px;
  color: yellow;
}

.nav-fav{
  height: 30px;
  width:30px;
  margin-top: 15px;
}