

.user-home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
  }
  
  .user-home-carousel {
    width: 100%; 
    margin-top: 3.9%; 
  }

  .user-carousel-tag{
    font-size: 20px;
  }
  
  .user-home-carousel img {
    width: 100%;
    height: auto;
  }

  .user-home-brands {
    margin-top: 20px; 
    
  }
  
  .user-brand-list {
    display: flex;
    gap: 150px;
    margin-top: 100px;
   
  }
  
  .user-brand-container {
   display: flex;
   flex-wrap: wrap;
  }
  
  .user-brand-image {
   
   width:100px
    
  }
  
  .user-home-elements {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin-top: 30px;
  }
  
  .user-product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px; 
    margin: 0 auto;
  }
  
  .user-product-card {
    border: 1px solid #24dff8;
    position: relative;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    width: 300px;
    height: 300px;
    justify-content: center;
    box-shadow: 0 2px 4px orangered;
    transition: transform 0.2s ease-in-out;
  
    &:hover {
      transform: scale(1.05);
    }
  }
  
  .user-product-images {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    z-index: -1;
  }
  
  .user-product-name,
  .user-product-brand,
  .user-product-price
  {
    margin-top: 30px;
  }

  .user-product-name{
    color:rgb(250, 250, 3);
    font-weight: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .user-home-product-brand{
    color: whitesmoke;
  }

  .user-home-product-price{
      color: blue;
  }
  
  .sold-home-product::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: red; 
    color: white;
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
  }
  
  .sold-tag {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: red;
    color: white; 
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
  }

  
.user-product-container {
  position: relative;
}

.user-home-like-button {
  position: absolute;
  border: none;
  top: 0;
  right: 0;
  margin-top: 3px;
  margin-right: 3px;
  background-color: transparent;
}

.product-like{
  height: 30px;
  width: 30px;
}

.product-user-link{
  text-decoration: none;
}
  
.user-home-br-head{
  color:orangered;
  
}
  
.user-home-bru-head{
  color: wheat;
  
}

.drop-btn{
  background-color: orangered;
  color: rgb(0, 0, 0);
  font-size: 16px;
  border: 1px solid rgb(255, 250, 250);
  cursor: pointer;
  height: 30px;
  width: 70px;
  border-radius: 10px;
}

.dropdown{
  position: relative;
  display: inline-block;
  margin-top: 100px;
  margin-left: 800px;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color:rgb(255, 255, 255) ;
  min-width: 75px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content
.a-sort{
  color: black;
  padding: 12px 33px;
  text-decoration: none;
  display: block;
  border-radius: 10px;
  border: 1px solid white;
}
  
.dropdown-content
.a-sort:hover{
  background: #000000;
  color: bisque;
}

.dropdown:hover
.dropdown-content{
  display: block;
}


.drop-btn:hover{
  background-color: black;
  color: orangered;
}

.user-home-product-km{
  color: orange;
  margin-top:5px;
  margin-bottom:5px;
}