

.user-home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
  }
  
  .user-home-carousel {
    width: 100%; 
    margin-top: 3.9%; 
  }

  .user-carousel-tag{
    font-size: 20px;
  }
  
  .user-home-carousel img {
    width: 100%;
    height: auto;
  }

  .user-home-brands {
    margin-top: 20px; 
  }
  
  .user-brand-list {
    display: block;
   
  }
  
  .user-brand-container {
   
  }
  
  .user-brand-image {
   
   width:100px
    
  }
  
  .user-home-elements {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  
  .user-product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px; /* Adjust max-width based on your design */
    margin: 0 auto; /* Center the product list within the container */
  }
  
  .user-product-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    width: 300px;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  
    &:hover {
      transform: scale(1.05);
    }
  }
  
  .user-product-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .user-product-name,
  .user-product-brand,
  .user-product-price,
  .user-product-sec2 {
    margin-top: 10px;
  }

  .user-product-name{
    color:yellow;
  }

  .user-product-brand{
    color: gray;
  }

  .user-product-price{
    color: blue;
  }
  
  .user-product-sec2 {
    display: flex;
    flex-wrap: wrap;
  }
  
  .user-product-color,
  .user-product-fuel,
  .user-product-mileage,
  .user-product-year,
  .user-product-engine,
  .user-product-owner {
    flex: 0 0 50%;
    margin-bottom: 8px;
    color: #555;
  }
  
  /* Add icons styles as needed */
  .user-product-color IoColorPalette,
  .user-product-fuel BsFuelPump,
  .user-product-mileage SiCoronaengine,
  .user-product-year SlCalender,
  .user-product-engine PiEngineBold,
  .user-product-owner IoIosPerson {
    margin-right: 5px;
  }
  
  
  
  .user-home-others {
    
  }
  